.profileInput {
  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid var(--text-secondary-color);

  padding: 10px 0;
  margin-top: 30px;

  width: 510px;

  &__value {
    color: var(--text-secondary-color);
    text-align: end;
    border: none;
    background-color: transparent;
  }
}
