<div class="input">
  <label class="input__container">
    <input name={{name}} class="input__element" type={{type}} />
    <div class="input__label">{{label}}</div>
    <div class="input__error">
      <div class="input__text-error">{{inputError}}</div>
    </div>
  </label>
</div>