<div class="main__container"> 
    {{> Button label="Страница профиля" type="link" page="ProfilePage" }}
    {{> Button label="Страница авторизации" type="link" page="AuthPage" }}
    {{> Button label="Страница регистрации" type="link" page="RegistrationPage" }}
    {{> Button label="Страница списка чатов" type="link" page="ChatPage" }}
    {{> Button label="Ошибка 404" type="link" page="Error404" }}
    {{> Button label="Ошибка 500" type="link" page="Error500" }}
</div>