<div class="profile">
    {{> LeftAside page="MainPage"}}
    <div class="profile__content">
        <img class="profile__content__avatar" src="https://fakeimg.pl/130x130" alt="Avatar" />
        {{#> SimpleForm}}
            {{#each (editPasswordData)}}
            {{> ProfileInput disabled=false }}
            {{/each}}
            <div class="profileEdit__button">
                {{> Button type="primary" label="Сохранить" page="ProfilePage"}}
            </div>
        {{/SimpleForm}}
    </div>
</div>